html,
body {
  height: 100%;
}

canvas {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 2;
  cursor: pointer;
}

body {
  margin:0;
  width: 100%;
}

.gameArea div {
  position: absolute;
  width: 100%;
}

#sky {
  background: #BDE9F6;
  background-image: url("https://img.freepik.com/free-vector/winter-landscape-with-frozen-lake-clouds_107791-1861.jpg?w=1800&t=st=1696779721~exp=1696780321~hmac=b562687a43bdef19773b39a33a39734b66ba8a9a3979bc3f0e2e453c998990e9");
  background-position: bottom;
  background-size: cover;
  height: 400px;
  z-index: 3;
}

#sky img {
    position: absolute;
    right: 20px;
    top: 0;
    filter: brightness(2);
}

@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

#sky h1 {
    font-family: 'Bubblegum Sans', cursive;
    width: 100%;
    text-align: center;
    font-size: 7.5vw;
    margin-top: 5%;
    color: #3d3d3d;
}

.gameArea {

}

#sea1 {
  background-color: #373363;
  top: 200px;
  height: 40px;
  z-index: 3;
}

@keyframes shipAnimation {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); /* Adjust the value for desired height */
    }
  }

#ship {
  background-image: url("../resources/boat.png");
  background-size: contain;
  background-repeat: no-repeat;
  top: 150px;
  width: 200px;
  height: 500px;
  margin: 0 auto;
  z-index: 10;
  animation: shipAnimation 2s ease-in-out infinite;
  left: 50px;
}

#sea2 {
  background-color: #364B82;
  top: 200px;
  height: 40px;
  z-index: 3;
}

#sea3 {
  background-color: #3577b8;
  top: 180px;
  height: 40px;
  z-index: 3;
}

#sea4 {
  background: #2F6AA4;
  background: linear-gradient(0deg, black 0%, #1e4469 50%,#2F6AA4 100%);  
  top: 400px;
  height: 800%;
 
}

@keyframes fishSwimLeft {
    0% {
      transform: translateX(0) translateY(0);
    }
    100% {
      transform: translateX(-150%) translateY(5%);
    }
  }
  
  @keyframes fishSwimRight {
    0% {
      transform: translateX(-150%) scaleX(-1) translateY(0); 
    }
    100% {
      transform: translateX(0) scaleX(-1) translateY(5%); 
    }
  }

  @keyframes fishSwimAway {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(-400%); 
      opacity: 0;
    }
  }
  
  .fish {
    position: absolute;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    animation: fishSwimLeft var(--animation-duration) linear alternate infinite;
    cursor: pointer;
    z-index: 20;
  }
  
  .fish.flip {
    animation: fishSwimRight var(--animation-duration) linear alternate infinite; 
  }
  